.parent {
  padding-top: 120px;
  padding-bottom: 50px;
}

.nav-tabs a {
  color: #000000;
  text-align: left;
}

.nav-tabs {
  background-color: #cdcdcd;
}
.nav-tabs a.active {
  color: #ffffff;
  background-color: #006a25;
}

/*
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { margin-left: 100px; }
*/


