<div class="mx-5 px-5 parent">
  <div class="card animate__animated animate__backInUp" >
    <div class="card-body">
      <div class="row card-title alert m-n4" style="background-color: #006a25">
        <div class="col-md-10">
          <h5 class="font-weight-bold text-white">Pour renseigner vos indicateurs financiers, merci de préciser votre dernière année d'exercice comptable.</h5>
        </div>
        <div class="col-md-2">
          <select class="form-control custom-select small" [disabled]="disableYear" [(ngModel)]="financialYear">
            <option *ngFor="let year of listYear" value="{{year}}">{{year}}</option>
          </select>
        </div>
      </div>

      <div class="py-5" *ngIf="financialYear != null">
        <div class="row">
          <div class="col-md-9">
            <p class=" text-danger">Merci de saisir la valeur de chaque indicateur sur les 3 dernières années !</p>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6">
                <button *ngIf="demande?.status == 1 && demande?.indicateurAjoute && connectedUser?.profil?.code == 'ROLE_ENTR'" class="btn btn-sm mr-2" style="font-size: .75rem; color: #ffffff; background-color: #f78300" (click)="sendDemande()">Envoyer la demande</button>
              </div>
              <div class="col-md-6">
                <button *ngIf="ratioEnabled" class="btn btn-sm" style="font-size: .75rem; color: #ffffff; background-color: #006a25" data-toggle="modal" data-target="#ratioModal">Calculer le ratio</button>
              </div>
            </div>
          </div>
        </div>

        <div class="border rounded">
          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                <i class="fa fa-check-circle mr-2"></i> {{financialYear-2}}
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                <i class="fa fa-check-circle mr-2"></i>{{financialYear-1}}
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                <i class="fa fa-check-circle mr-2"></i>{{financialYear}}
              </a>
            </li>
          </ul>

          <div class="tab-content p-3" id="myTabContent">

            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-8">
                  <table class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr style="background-color: #f78300">
                      <th style="width: 10%">Code</th>
                      <th style="width: 30%">Nom</th>
                      <th style="width: 30%">Source</th>
                      <th style="width: 30%">Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let indicateur of indicateurs[2].indicateurs">
                      <th>{{indicateur.code}}</th>
                      <td>{{indicateur.nom}}</td>
                      <td>{{indicateur.source}}</td>
                      <td>
                        <input type="text" class="form-control" style="height: 30px; text-align: right"
                               matInput type="text" mvndrMatCurrencyFormat
                               [allowNegative]="true"
                               [currencyCode]="' '"
                               [(ngModel)]="indicateur.value">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header" style="background-color: #f78300"><h6><i class="fa fa-file"></i> Etats financiers</h6></div>

                    <div class="card-body">
                      <p class="small font-italic text-success">Les formats acceptés sont: docx, xslx, pdf</p>
                      <p class="small text-muted" *ngIf="indicateurs[2].file?.nomPiece == ''">Aucun fichier disponible !</p>
                      <div class="row" *ngIf="indicateurs[2].file?.nomPiece != ''">
                        <div class="col-md-8">
                          <span data-toggle="tooltip" data-placement="bottom" title="{{indicateurs[2].file.nomPiece}}" style="cursor: pointer;">
                            {{indicateurs[2].file.nomPiece.length > 20 ? indicateurs[2].file.nomPiece.slice(0,20) + "..." : indicateurs[2].file.nomPiece}}
                          </span>
                        </div>
                        <div class="col-md-4">
                          <button class="btn btn-sm ml-lg-n2" data-toggle="tooltip" data-placement="bottom" title="Voir"
                                  style="cursor: pointer; color: rgba(0, 0, 0, .7);" (click)="showFile(indicateurs[2].file.file[0])">
                            <i class="fa fa-eye"></i>
                          </button>
                          <button class="btn btn-sm ml-lg-n2 text-primary" data-toggle="tooltip" data-placement="bottom" title="Télécharger"
                                  style="cursor: pointer;" (click)="downloadFile(indicateurs[2].file.file[0])">
                            <a [href]="fileToShow.href" [download]="fileToShow.name">
                              <i class="fa fa-arrow-circle-down"></i>
                            </a>
                          </button>
                          <!--<em class="fa fa-edit small mr-3 text-warning" (click)="editFileName(1, '')"></em>-->
                          <button class="btn btn-sm ml-lg-n2" data-toggle="tooltip" data-placement="bottom" title="Supprimer"
                                  style="cursor: pointer; color: #dc3545;" (click)="deleteFile(indicateurs[2].file.file[0])">
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="card-footer" *ngIf="!indicateurs[2].hasFile">
                      <div class="row">
                        <div class="col-md-6 text-center">
                          <button class="btn btn-sm text-white" style="background-color: #006a25; font-size: 13px" (click)="triggerClick(2)">
                            Choisir un fichier
                            <input type="file" hidden  id="file2" [(ngModel)]="fileToAdd" (ngModelChange)="addFileToList(2)"
                                   accept="image/png, image/jpeg, image/jpg, .doc, .docx, .pdf, .xlsx">
                          </button>
                        </div>
                        <div class="col-md-6 text-center" *ngIf="indicateurs[2].id != null">
                          <button class="btn btn-sm text-white" (click)="saveFiles(2)" style="background-color: #006a25; font-size: 13px">Sauvegarder</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-footer border-0">
                <button class="btn" style="background-color: #006a25; color: #ffffff" (click)="saveIndicateur(2)">Suivant</button>
              </div>

            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <div class="col-md-8">
                  <table class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr style="background-color: #f78300">
                      <th style="width: 10%">Code</th>
                      <th style="width: 30%">Source</th>
                      <th style="width: 30%">Nom</th>
                      <th style="width: 30%">Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let indicateur of indicateurs[1].indicateurs">
                      <th>{{indicateur.code}}</th>
                      <td>{{indicateur.source}}</td>
                      <td>{{indicateur.nom}}</td>
                      <td>
                        <input class="form-control" style="height: 30px; text-align: right"
                               matInput type="text" mvndrMatCurrencyFormat
                               [allowNegative]="true"
                               [currencyCode]="' '"
                               [(ngModel)]="indicateur.value">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header" style="background-color: #f78300"><h6><i class="fa fa-file"></i> Etats financiers</h6></div>

                    <div class="card-body">
                      <p class="small font-italic text-success">Les formats acceptés sont: docx, xslx, pdf</p>
                      <p class="small text-muted" *ngIf="indicateurs[1].file?.nomPiece == ''">Aucun fichier disponible !</p>
                      <div class="row" *ngIf="indicateurs[1].file?.nomPiece != ''">
                        <div class="col-md-8">
                          <span data-toggle="tooltip" data-placement="bottom" title="{{indicateurs[1].file.nomPiece}}" style="cursor: pointer;">
                            {{indicateurs[1].file.nomPiece.length > 20 ? indicateurs[1].file.nomPiece.slice(0,20) + "..." : indicateurs[1].file.nomPiece}}
                          </span>
                        </div>
                        <div class="col-md-4">
                          <button class="btn btn-sm ml-lg-n2" data-toggle="tooltip" data-placement="bottom" title="Voir"
                                  style="cursor: pointer; color: rgba(0, 0, 0, .7);" (click)="showFile(indicateurs[1].file.file[0])">
                            <i class="fa fa-eye"></i>
                          </button>
                          <button class="btn btn-sm ml-lg-n2 text-primary" data-toggle="tooltip" data-placement="bottom" title="Télécharger"
                                  style="cursor: pointer;" (click)="downloadFile(indicateurs[1].file.file[0])">
                            <a [href]="fileToShow.href" [download]="fileToShow.name">
                              <i class="fa fa-arrow-circle-down"></i>
                            </a>
                          </button>
                          <!--<em class="fa fa-edit small mr-3 text-warning" (click)="editFileName(1, '')"></em>-->
                          <button class="btn btn-sm ml-lg-n2" data-toggle="tooltip" data-placement="bottom" title="Supprimer"
                                  style="cursor: pointer; color: #dc3545;" (click)="deleteFile(indicateurs[1].file.file[0])">
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="card-footer" *ngIf="!indicateurs[1].hasFile">
                      <div class="row">
                        <div class="col-md-6 text-center">
                          <button class="btn btn-sm text-white" style="background-color: #006a25; font-size: 13px" (click)="triggerClick(1)">
                            Choisir un fichier
                            <input type="file" hidden  id="file1" [(ngModel)]="fileToAdd" (ngModelChange)="addFileToList(1)"
                                   accept="image/png, image/jpeg, image/jpg, .doc, .docx, .pdf, .xlsx">
                          </button>
                        </div>
                        <div class="col-md-6 text-center" *ngIf="indicateurs[1].id != null">
                          <button class="btn btn-sm text-white" (click)="saveFiles(1)" style="background-color: #006a25; font-size: 13px">Sauvegarder</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-footer border-0">
                <button class="btn previous-btn" (click)="nextAndPreviousCtrl()" style="background-color: #f78300; color: #ffffff">Précédent</button>
                <button class="btn" style="background-color: #006a25; color: #ffffff" (click)="saveIndicateur(1)">Suivant</button>
              </div>

            </div>

            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="row">
                <div class="col-md-8">
                  <table class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr style="background-color: #f78300">
                      <th style="width: 10%">Code</th>
                      <th style="width: 30%">Nom</th>
                      <th style="width: 30%">Source</th>
                      <th style="width: 30%">Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let indicateur of indicateurs[0].indicateurs">
                      <th>{{indicateur.code}}</th>
                      <td>{{indicateur.nom}}</td>
                      <td>{{indicateur.source}}</td>
                      <td>
                        <input class="form-control" style="height: 30px; text-align: right"
                               matInput type="text" mvndrMatCurrencyFormat
                               [allowNegative]="true"
                               [currencyCode]="' '"
                               [(ngModel)]="indicateur.value">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header" style="background-color: #f78300"><h6><i class="fa fa-file"></i> Etats financiers</h6></div>

                    <div class="card-body">
                      <p class="small font-italic text-success">Les formats acceptés sont: docx, xslx, pdf</p>
                      <p class="small text-muted" *ngIf="indicateurs[0].file?.nomPiece == ''">Aucun fichier disponible !</p>
                      <div class="row" *ngIf="indicateurs[0].file?.nomPiece != ''">
                        <div class="col-md-8">
                          <span data-toggle="tooltip" data-placement="bottom" title="{{indicateurs[0].file.nomPiece}}" style="cursor: pointer;">
                            {{indicateurs[0].file.nomPiece.length > 20 ? indicateurs[0].file.nomPiece.slice(0,20) + "..." : indicateurs[0].file.nomPiece}}
                          </span>
                        </div>
                        <div class="col-md-4">
                          <button class="btn btn-sm ml-lg-n2" data-toggle="tooltip" data-placement="bottom" title="Voir"
                                  style="cursor: pointer; color: rgba(0, 0, 0, .7);" (click)="showFile(indicateurs[0].file.file[0])">
                            <i class="fa fa-eye"></i>
                          </button>
                          <button class="btn btn-sm ml-lg-n2 text-primary" data-toggle="tooltip" data-placement="bottom" title="Télécharger"
                                  style="cursor: pointer;" (click)="downloadFile(indicateurs[0].file.file[0])">
                            <a [href]="fileToShow.href" [download]="fileToShow.name">
                              <i class="fa fa-arrow-circle-down"></i>
                            </a>
                          </button>
                          <!--<em class="fa fa-edit small mr-3 text-warning" (click)="editFileName(1, '')"></em>-->
                          <button class="btn btn-sm ml-lg-n2" data-toggle="tooltip" data-placement="bottom" title="Supprimer"
                                  style="cursor: pointer; color: #dc3545;" (click)="deleteFile(indicateurs[0].file.file[0])">
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="card-footer" *ngIf="!indicateurs[0].hasFile">
                      <div class="row">
                        <div class="col-md-6 text-center">
                          <button class="btn btn-sm text-white" style="background-color: #006a25; font-size: 13px" (click)="triggerClick(0)">
                            Choisir un fichier
                            <input type="file" hidden  id="file0" [(ngModel)]="fileToAdd" (ngModelChange)="addFileToList(0)"
                                   accept="image/png, image/jpeg, image/jpg, .doc, .docx, .pdf, .xlsx">
                          </button>
                        </div>
                        <div class="col-md-6 text-center" *ngIf="indicateurs[0].id != null">
                          <button class="btn btn-sm text-white" (click)="saveFiles(0)" style="background-color: #006a25; font-size: 13px">Sauvegarder</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-footer border-0">
                <button class="btn previous-btn" (click)="nextAndPreviousCtrl()" style="background-color: #f78300; color: #ffffff">Précédent</button>
                <button class="btn" style="background-color: #006a25; color: #ffffff" (click)="saveIndicateur(0)">Valider</button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ratioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #006a25; color: #ebeef2">
        <h5 class="modal-title">Calcul des ratios du score financier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <caption style="font-size: 18px; font-weight: bolder; text-align: center">Score financier : {{roundValue(listRatio?.scoreDTO?.score_financier)}}</caption>
          <thead>
          <tr>
            <td style="width: 5%">Code</td>
            <td>Nom Ratio</td>
            <td>Valeur</td>
            <td style="width: 17%">Ratio calibré</td>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of listRatio?.listValeurRatioDTO">
              <th style="width: 5%">{{r.codeRatio}}</th>
              <td>{{r.nomRatio}}</td>
              <td style="text-align: right">{{roundValue(r.valeur)}}</td>
              <td style="width: 17%; text-align: right">{{r.classe}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer border-0">
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{fileToShow.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <img *ngIf="['png', 'PNG', 'jpg', 'JPG', 'jpeg', 'JPEG', 'gif', 'GIF'].includes(fileToShow.ext)"
             [src]="escapeUnsafeURL(fileToShow.src)" alt="{{fileToShow.name}}" width="70%">

        <pdf-viewer *ngIf="fileToShow.ext == 'pdf'"
          [src]="fileToShow.src"
          [rotation]="0"
          [fit-to-page]="true"
          [original-size]="true"
          [show-all]="true"
          style="width:100%;min-height:600px;display:block">
        </pdf-viewer>

      </div>
    </div>
  </div>
</div>
