<div class="mx-5 px-5 parent">
  <div class="card animate__animated animate__backInUp" >
    <div class="card-body">
      <div class="row card-title alert m-n4" style="background-color: #006a25">
        <div class="col-md-10">
          <h5 class="font-weight-bold text-white">Pour renseigner vos indicateurs financiers, merci de préciser votre dernière année d'exercice comptable.</h5>
        </div>
        <div class="col-md-2">
          <select class="form-control custom-select small" [(ngModel)]="financialYear">
            <option *ngFor="let year of listYear" value="{{year}}">{{year}}</option>
          </select>
        </div>
      </div>

      <div class="py-5" *ngIf="financialYear != null">
        <div class="row">
          <div class="col-md-10">
            <p class=" text-danger">Merci de saisir la valeur de chaque indicateur sur les 3 dernières années !</p>
          </div>
          <div class="col-md-2">
            <button *ngIf="entreprise?.indicateurAjoute" class="btn btn-sm" style="color: #ffffff; background-color: #006a25" data-toggle="modal" data-target="#ratioModal">Calculer le ratio</button>
          </div>
        </div>

        <div class="border rounded">
          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-check-circle mr-2"></i> {{financialYear-2}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-check-circle mr-2"></i>{{financialYear-1}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-check-circle mr-2"></i>{{financialYear}}</a>
            </li>
          </ul>
          <div class="tab-content p-3" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-8">
                  <table class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr style="background-color: #f78300">
                      <th style="width: 10%">Code</th>
                      <th style="width: 30%">Nom</th>
                      <th style="width: 30%">Source</th>
                      <th style="width: 30%">Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indicateur of indicateurs[2]">
                        <th>{{indicateur.code}}</th>
                        <td>{{indicateur.nom}}</td>
                        <td>{{indicateur.source}}</td>
                        <td>
                          <input type="number" class="form-control" style="height: 30px;" [(ngModel)]="indicateur.value">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--<div class="col-md-4">
                  <div class="card">
                    <div class="card-header" style="background-color: #f78300"><h6><i class="fa fa-file"></i> Etats financiers</h6></div>
                    <div class="card-body">
                      <p class="small font-italic text-success">Les formats acceptés sont: docx, xslx, pdf</p>

                    </div>
                  </div>
                </div>-->
              </div>

              <div class="modal-footer border-0">
                <button class="btn" style="background-color: #006a25; color: #ffffff" (click)="saveIndicateur(2)">Suivant</button>
              </div>

            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <div class="col-md-8">
                  <table class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr style="background-color: #f78300">
                      <th style="width: 10%">Code</th>
                      <th style="width: 30%">Source</th>
                      <th style="width: 30%">Nom</th>
                      <th style="width: 30%">Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let indicateur of indicateurs[1]">
                      <th>{{indicateur.code}}</th>
                      <td>{{indicateur.source}}</td>
                      <td>{{indicateur.nom}}</td>
                      <td>
                        <input type="number" class="form-control" style="height: 30px;" [(ngModel)]="indicateur.value">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-4"></div>
              </div>

              <div class="modal-footer border-0">
                <button class="btn previous-btn" (click)="nextAndPreviousCtrl()" style="background-color: #f78300; color: #ffffff">Précédent</button>
                <button class="btn" style="background-color: #006a25; color: #ffffff" (click)="saveIndicateur(1)">Suivant</button>
              </div>

            </div>

            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="row">
                <div class="col-md-8">
                  <table class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr style="background-color: #f78300">
                      <th style="width: 10%">Code</th>
                      <th style="width: 30%">Nom</th>
                      <th style="width: 30%">Source</th>
                      <th style="width: 30%">Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let indicateur of indicateurs[0]">
                      <th>{{indicateur.code}}</th>
                      <td>{{indicateur.nom}}</td>
                      <td>{{indicateur.source}}</td>
                      <td>
                        <input type="number" class="form-control" style="height: 30px;" [(ngModel)]="indicateur.value">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-4"></div>
              </div>

              <div class="modal-footer border-0">
                <button class="btn previous-btn" (click)="nextAndPreviousCtrl()" style="background-color: #f78300; color: #ffffff">Précédent</button>
                <button class="btn" style="background-color: #006a25; color: #ffffff" (click)="saveIndicateur(0)">Valider</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ratioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #006a25; color: #ebeef2">
        <h5 class="modal-title">Calcul des ratios du score financier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <caption>Score financier : {{listRatio?.scoreDTO?.score_financier}}</caption>
          <tr *ngFor="let r of listRatio?.listValeurRatioDTO">
            <th>Ratio {{r.idRatio}}</th>
            <td>{{r.valeur}}</td>
          </tr>
        </table>

      </div>
      <div class="modal-footer border-0">
      </div>
    </div>
  </div>
</div>
