<div class="px-5 parent">
  <div class="card animate__animated animate__backInUp" style="border-radius: 10px">
    <div class="row" style="height: auto" *ngIf="!demande?.repQuali || edit || answeredParams != 7">
      <div class="col-md-3 px-3 py-5">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a *ngFor="let p of listParameters" [ngClass]="{'active': p.id == 1}" class="nav-link"
             data-toggle="pill" href="#{{p.code}}"  role="tab" aria-controls="v-pills-home" aria-selected="true" (click)="activeTab(p.code)">
            <span class="badge badge-light rounded-circle mt-n2 font-weight-bolder">{{p.id}}</span> {{p.libelle}}
          </a>
        </div>
      </div>
      <div class="col-md-9 p-5" style="background-color: #f8f8f8">
        <div class="tab-content" id="v-pills-tabContent">
          <div *ngFor="let p of listParameters;" [ngClass]="{'active': p.id == 1}" class="tab-pane fade show active py-2" id="{{p.code}}">
            <h3 class="card-title font-weight-bold">
              {{p.libelle}}
            </h3> 
            <div>
              <h4 *ngIf="p.score">Score : {{ p.score}}</h4>
            </div>
            <p class="small text-muted">Veuillez répondre à toutes les questions !</p>

            <div class="row pt-3">
              <div [id]="'accordion'+p.id" class="w-100">
                <div class="card" *ngFor="let q of p.questions">
                  <div class="card-header" id="{{q.id}}">
                    <h5 class="mb-0">
                      <button class="btn btn-link" style="text-align: left !important" data-toggle="collapse" [attr.data-target]="'#'+q.question?.code" aria-expanded="false" [attr.aria-controls]="q.question?.code">
                        {{q.question?.libelle}}
                        <div *ngIf="q.chosen" class="chosen-answer blockquote-footer">{{ q.chosen }} </div>
                      </button>
                    </h5>
                  </div>

                  <div id="{{q.question?.code}}" class="collapse" [attr.aria-labelledby]="q.question?.id" [attr.data-parent]="'#accordion'+p.id">
                    <div class="card-body">
                      <select class="form-control custom-select px-4 py-2" size="{{q.question?.listReponsesDTO?.length}}" [(ngModel)]="q.reponse" (change)="onSelectReponse($event, q)">
                        <option *ngFor="let r of q.question?.listReponsesDTO; let index = index" [value]="r.id">{{index+1}})
                          <!--<span *ngIf="r.libelle.length <= 100">{{r.libelle}}</span>
                          <span *ngIf="r.libelle.length > 100">{{r.libelle.slice(0,110)}} <br> {{r.libelle.slice(110, r.libelle.length-1)}}</span>-->
                          {{r.libelle}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer border-0">
              <div *ngIf="scoreParametre">Score : {{ scoreParametre?.score}}</div> 
                <button class="btn previous-btn" *ngIf="tabIndex != 0" (click)="activeTab('previous')" style="background-color: #f78300; color: #ffffff">Précédent</button>
                <button class="btn" style="background-color: #006a25; color: #ffffff"  (click)="submitQuestionnaireByParametre(p.id)">Valider</button>
                <button class="btn" style="background-color: #f78300; color: #ffffff" *ngIf="tabIndex != 6 && p.score != 0" (click)="activeTab('next')">Suivant</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height: auto" *ngIf="demande?.repQuali && !edit && answeredParams == 7">
      <div class="col-md-12 p-5" style="background-color: #f8f8f8">
        <div class="col-md-12 d-center">
          <h4>Score Qualitatif</h4>
        </div>
        <div class="row" >
          <div class="col-md-6">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Paramétre Qualitatif</th>
                <th scope="col">Score</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Score Financier/Solvabilité</td>
                  <td>{{ scoreFinancier?.score_financier }}</td>
                </tr>
              <tr *ngFor="let s of scores">
                  <td>{{s.parametre?.libelle}}</td>
                  <td>{{formatNumber((s.score), 1) }}</td>
              </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="total">
                  <th>Score de la PME</th>
                  <th>{{ scoreFinancier?.score_final}} </th>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <button class="btn" style="background-color: #006a25; color: #ffffff" *ngIf="demande?.repQuali" (click)="editScore(demande?.id)">Modifier</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-md-6">
            <canvas baseChart
                [datasets]="chartValues"
                [labels]="chartLibelles"
                [chartType]="radarChartType"
                [legend]="true"
                [options]="radarChartOptions"
                [colors]="lineChartColors"
                ></canvas>
                <div class="btn-report">
                  <button *ngIf="demande?.status == 3 && connectedUser?.profil?.code == 'ROLE_EXP_PME'" type="button" class="btn bgc-secondary" data-toggle="modal" data-target="#exampleModal" >
                    <i class="far fa-file-pdf"></i>
                    <span>Générer le rapport</span>
                   </button>
                  <button *ngIf="demande?.status == 5 && !demande?.rapportGenere && connectedUser?.profil?.code == 'ROLE_EXP_PME'" type="button" class="btn bgc-primary" data-toggle="modal" data-target="#exampleModal" >
                    <i class="far fa-window-close"></i>
                    <span>Cloturer la demande</span>
                   </button>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bgc-secondary">
        <h5 class="modal-title" id="exampleModalLabel">Saisissez un commentaire et des Recommandations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Commentaires:</label>
            <textarea class="form-control" id="recipient-name" rows="3" [(ngModel)]="commentaire" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Recommandations:</label>
            <textarea class="form-control" id="message-text" rows="3" [(ngModel)]="recommendation" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bgc-primary" data-dismiss="modal">Fermer</button>
        <button *ngIf="demande?.status == 3" type="button" class="btn bgc-secondary" (click)="generateReport()" data-dismiss="modal">Générer le rapport</button>
        <button *ngIf="demande?.status == 5" type="button" class="btn bgc-secondary" (click)="closeDemande()" data-dismiss="modal">Cloturer la demande</button>
      </div>
    </div>
  </div>
</div>
