<div class="mx-5 px-5 parent">
  <div class="card animate__animated animate__backInUp" style="border-radius: 10px">
    <div class="row" style="height: auto">
      <div class="col-md-3 px-4 py-5">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a *ngFor="let p of listParameters; let tab = index" [ngClass]="{'active': p.id == 1}" class="nav-link"
             data-toggle="pill" href="#{{p.code}}" role="tab" aria-controls="v-pills-home" aria-selected="true">
            <span class="badge badge-light rounded-circle">{{p.id}}</span> {{p.libelle}}
          </a>
        </div>
      </div>
      <div class="col-md-9 p-5" style="background-color: #f8f8f8">
        <div class="tab-content" id="v-pills-tabContent">
          <div *ngFor="let p of listParameters" [ngClass]="{'active': p.id == 1}" class="tab-pane fade show active py-2" id="{{p.code}}">
            <h3 class="card-title font-weight-bold">{{p.libelle}}</h3>
            <p class="small text-muted">Veuillez répondre à toutes les questions !</p>

            <div class="row pt-3">
              <div id="accordion">
                <div class="card" *ngFor="let q of p.questions">
                  <div class="card-header" id="{{q.id}}">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#'+q.question?.code" aria-expanded="false" [attr.aria-controls]="q.question?.code">
                        {{q.question?.libelle}}
                      </button>
                    </h5>
                  </div>

                  <div id="{{q.question?.code}}" class="collapse" [attr.aria-labelledby]="q.question?.id" data-parent="#accordion">
                    <div class="card-body">
                      <select class="form-control custom-select px-4 py-2" size="{{q.question?.listReponsesDTO?.length}}" [(ngModel)]="q.reponse" (change)="onSelectReponse($event, q)">
                        <option *ngFor="let r of q.question?.listReponsesDTO; let index = index" [value]="r.id">{{index+1}}) {{r.libelle}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
            <div class="modal-footer border-0">
                <button class="btn previous-btn" (click)="activeTab((tab - 1))" style="background-color: #f78300; color: #ffffff">Précédent</button>
                <button class="btn" style="background-color: #006a25; color: #ffffff" (click)="activeTab((tab + 1))">Suivant</button>
              </div>
      </div>
    </div>
  </div>
</div>
