<div class="mx-2 px-4 parent">
  <div class="card p-4 animate__animated animate__backInUp" style="border-radius: 10px">
    <div class="card-body">
      <div class="card-title py-1">
        <h3>Liste des entreprises</h3>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="left-sidebar">
            <div class="accordion" id="accordionExample">
              <div class="card mt-4">
                <a data-toggle="collapse" href="#collapsethree" class="job-list" aria-expanded="true" aria-controls="collapsethree">
                  <div class="card-header" id="headingthree">
                    <h6 class="mb-0 text-dark f-18">Secteurs d'activités</h6>
                  </div>
                </a>
                <div id="collapsethree" class="collapse show" aria-labelledby="headingthree">
                  <div class="card-body p-0">
                    <select class="form-control custom-select px-4 py-2" size="14" (change)="filterPme($event)">
                      <option value="0">Tout</option>
                      <option class="text-wrap" *ngFor="let r of listSecteur; let index = index" [value]="r.id">
                        {{r.libelle}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="row mt-4">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="tout" name="customRadioInline" class="custom-control-input" [checked]="filtreType == 0" value="0"  (change)="filterByType($event)">
              <label class="custom-control-label" for="tout">Tout</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="mes-demandes" name="customRadioInline" class="custom-control-input" [checked]="filtreType == 3" value="3" (change)="filterByType($event)">
              <label class="custom-control-label" for="mes-demandes">Mes demandes</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="scoring" name="customRadioInline" class="custom-control-input" [checked]="filtreType == 1" value="1" (change)="filterByType($event)">
              <label class="custom-control-label" for="scoring">Demandes de scoring</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="accompagnement" name="customRadioInline" class="custom-control-input" [checked]="filtreType == 2" value="2" (change)="filterByType($event)">
              <label class="custom-control-label" for="accompagnement">Demandes d'accompagnement</label>
            </div>
            <div class="form-group">
              <select class="form-control" [(ngModel)]="filtreStatut" (change)="filterByStatus($event)">
                <option selected value="0">Filtrer par statut</option>
                <option value="2">Envoyée</option>
                <option *ngIf="filtreType != 2"value="30">En cours</option>
                <option *ngIf="filtreType == 2 || filtreType == 0" value="31">Réceptionné</option>
                <option *ngIf="filtreType != 2" value="4">Rejetée</option>
                <option *ngIf="filtreType != 2" value="5">Provisoire</option>
                <option *ngIf="filtreType != 2" value="6">Clôturée</option>
              </select>
            </div>

          </div>
          <div class="row" *ngIf="listPme.length != 0">
            <div class="col-lg-4 col-md-6" *ngFor="let pme of pageSlice">
              <div class="list-grid-item mt-4">
                <div class="grid-item-content p-2">
                  <div class="employers-list-img mt-3">
                    <img *ngIf="pme.logo == 'logo'" src="/scoring/assets/img/office-building(1).png" alt="logo" class="img-fluid mx-auto d-block ">
                    <img *ngIf="pme.logo != ''" [src]="pme.logo" alt="logo" class="img-fluid mx-auto d-block ">
                  </div>
                  <div class="grid-list-desc text-center mt-4" style="cursor: pointer">
                    <h5 class="mb-1">{{pme?.pme?.raisonSociale}} {{pme?.pme?.id}}</h5>
                    <p class="text-muted f-10 mb-0 small" *ngIf="pme?.pme?.demandeNonCloturee">Statut de la demande scoring : {{pme?.pme?.demandeNonCloturee?.libelleStatut}}</p>
                    <p class="text-muted f-10 mb-0 small" *ngIf="pme?.pme?.demandeAccompagnement">Statut de la demande accompagnement : {{pme?.pme?.demandeAccompagnement?.libelleStatut}}</p>
                    <p class="text-muted f-14 mb-0"><span class="iconify" data-icon="el:map-marker"></span> {{pme?.pme?.adresse}}</p>
                    <ul class="employers-icons list-inline mb-1" *ngIf="pme?.pme?.demandeNonCloturee?.scoreFinal == 0">
                        <li class="list-inline-item"><a href="#" class="text-black-50"><i class="fas fa-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-black-50"><i class="fas fa-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-black-50"><i class="fas fa-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-black-50"><i class="fas fa-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-black-50"><i class="fas fa-star f-19"></i></a></li>
                    </ul>

                    <ul class="employers-icons list-inline mb-1" *ngIf="pme?.pme?.demandeNonCloturee?.scoreFinal != 0">
                      <li *ngFor="let in of counter(pme?.pme?.demandeNonCloturee?.scoreFinal ?? 0)" class="list-inline-item">
                        <a href="#" class="text-warning"><i class="fas fa-star f-19"></i></a>
                      </li>

                      <li *ngFor="let in of counter(5 - parseToInt(pme?.pme?.demandeNonCloturee?.scoreFinal ?? 0))" class="list-inline-item">
                        <a href="#" class="text-black-50"><i class="fas fa-star f-19"></i></a>
                      </li>
                    </ul>

                    <span class="badge badge-warning text-white">{{pme.pme.annee}}</span>
                  </div>
                </div>
                <hr class="mt-0 mb-0">
                <div class="apply-button text-center mt-2 mb-2">
                  <a (click)="gotoDetails(pme.pme.id)" class="btn btn-custom btn-sm">Détails</a>
                </div>
              </div>
            </div>
          </div>
          <p class="mt-4" *ngIf="listPme.length == []">La liste des entreprises est vide !</p>
        </div>
      </div>
    </div>

    <mat-paginator *ngIf="listPme.length != 0" [length]="listPme.length" [pageSize]="6"
                   [pageSizeOptions]="[6, 12, 24, 48]" (page)="handlePageChange($event)">
    </mat-paginator>

  </div>
</div>
