<body>
  <div class="pt-5 pb-3" style="text-align: center">
    <img src="assets/img/Logo-Scoring-PME-01.png" class="bg-light rounded" alt="logo"
         style="width: 250px; height: 120px">

    <h1 class="mt-4" style="color: #02571f">Comment le scoring <br> peut-il aider ma PME ?</h1>
  </div>

  <div class="bg-light rounded text-center py-3  mx-auto" style="width: 50%">
    <h4>Le scoring permet de mieux diagnostiquer votre PME</h4>
    <h4>Le scoring permet de labéliser votre PME</h4>
    <h4>Le scoring vous permet d'accéder aux financements <br> (système utilisé par les établissement financiers)</h4>
  </div>

</body>
