<body>
  <div class="row p-3 mx-auto">
    <div class="col-md-12">
      <a routerLink="/ci-pme/" class="btn float-lg-right" style="color: #ffffff; background-color: #f78300">Connexion</a>
    </div>
  </div>

  <div class="pt-4 pb-3" style="text-align: center">
    <img src="assets/img/logo%20scoring" class="bg-light rounded" alt="logo"
         style="width: 250px; height: 120px">

    <h1 class="mt-4" style="color: #02571f">Comment le scoring <br> peut-il aider ma PME ?</h1>
  </div>

  <div class="bg-light rounded text-center py-3  mx-auto" style="width: 50%">
    <h4>Le scoring permet de mieux diagnostiquer votre PME</h4>
    <h4>Le scoring permet de labéliser votre PME</h4>
    <h4>Le scoring vous permet d'accéder aux financements <br> (système utilisé par les établissement financiers)</h4>
  </div>

  <div class="footer fixed-bottom" style="min-height: 150px">

    <div class="row pt-2 px-4 top-footer" style="min-height: 20px">
      <p>Agence CI PME : Accompagner l'avenir</p>
    </div>

    <div class="row mx-auto bg-light py-4" style="min-height: 110px">
      <div class="col-md-4 text-center">
        <p class="font-weight-bolder" style="color: #656464FF;">
           +225 <span style="color: #f78300">25</span> 20 00 12 28 <br>
           +225 <span style="color: #f78300">25</span> 20 00 18 38 <br>
           +225 <span style="color: #f78300">27</span> 22 54 80 90
        </p>
      </div>
      <div class="col-md-4 text-center">
        <p class="" style="font-size: 1.1rem"><a href="https://www.agencecipme.ci" target="_blank">www.agencecipme.ci</a></p>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-n2">
            <ul class="list-unstyled list-inline social justify-content-center">
              <li class="list-inline-item"><a href="https://www.agencecipme.ci"><span class="iconify" data-icon="brandico:facebook-rect"></span></a></li>
              <li class="list-inline-item"><a href="https://www.agencecipme.ci" target="_blank"><span class="iconify" data-icon="mdi:twitter"></span></a></li>
              <li class="list-inline-item"><a href="https://www.agencecipme.ci" target="_blank"><span class="iconify" data-icon="akar-icons:linkedin-fill"></span></a></li>
              <li class="list-inline-item"><a href="https://www.agencecipme.ci" target="_blank"><span class="iconify" data-icon="ant-design:instagram-filled"></span></a></li>
              <li class="list-inline-item"><a href="https://www.agencecipme.ci" target="_blank"><span class="iconify" data-icon="akar-icons:youtube-fill"></span></a></li>
            </ul>
          </div>
          <hr>
        </div>
      </div>

      <div class="col-md-4 text-center mt-lg-n4">
        <img src="assets/img/logo%20scoring" alt="logo ci-pme" style="width: 200px; height: 110px">
      </div>
    </div>

  </div>

</body>
