<body>
<nav class="mx-2 navbar navbar-expand-lg navbar-light bg-light fixed-top my-navbar animate__animated animate__bounce">
  <a class="navbar-brand" href="#"><img src="assets/img/Logo-Scoring-PME-01.png" style="width: 100px" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ci-pme/accueil">Accueil</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ci-pme/identification">Identification de la PME</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ci-pme/questionnaire-eligibilite">Questionnaire d'éligibilité</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ci-pme/questionnaire-qualitatif">Questionnaire qualitatif</a>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>

  <div class="footer small text-muted">
    Tous droits réservés <img src="assets/img/Logo-Scoring-PME-01.png" alt="logo" style="width: 50px"> {{currentYear}}
  </div>
</div>


</body>
