body {
  height: auto;
  background-image: linear-gradient(to right, #cdcdcd , #e6e6e6);
  background-size: cover;
  background-attachment: fixed;
}
.navbar-nav a{
  color: #f78300;
}

.navbar-nav a.active {
  color: #006a25 !important;
}

.my-navbar {
  background-color: #ffffff !important;
  background-clip: border-box;
  border: 1px solid rgba(255,255,255, 1);
  border-radius: 0 0 0.25rem 0.25rem;
}
