<div class="mx-5 px-5 parent">
  <div class="card p-4 animate__animated animate__backInUp" style="border-radius: 10px">
    <div class="card-body">

      <div *ngIf="demande && demande?.status != 6 && connectedUser?.profil?.code == 'ROLE_EXP_PME'" class="mt-2 mb-4 ">
        <!-- <div class="card-body"> -->
          <div class="mt-2 d-flex justify-content-end">
             <button *ngIf="demande?.status == 2 && connectedUser?.profil.code == 'ROLE_EXP_PME'" class="btn btn-sm mr-2" style="color: #ffffff; background-color: #006a25" (click)="receiveDemande()">Réceptionner demande</button>
            <button *ngIf="demande?.status == 3 && connectedUser?.profil.code == 'ROLE_EXP_PME'" class="btn btn-sm" style="color: #ffffff; background-color:  #f78300" data-toggle="modal" data-toggle="modal" data-target="#ratioModal">Rejeter demande </button>
          </div>
        <!-- </div> -->
      </div>

      <div class="card-title py-1" *ngIf="demande">
        <h3>Informations de la demande de scoring en cours</h3>
      </div>
      <div class="card" *ngIf="demande">
        <div class="card-body">
          <div class="card">
            <div class="card-body mb-6">
              <div class="mt-2">
                <div>
                  <div class="line">
                    <label class="mr-2">Statut Demande : </label>
                    <span> {{ demande?.libelleStatut }}</span>
                  </div>
                  <hr class="mt-lg-n2">
                </div>
                
                <div *ngIf="demande?.motif_rejet">
                  <div class="line">
                    <label class="mr-2">Motif rejet : </label>
                    <span> {{demande?.motif_rejet }}</span>
                  </div>
                  <hr class="mt-lg-n2">
                </div>

                <div *ngIf="demande?.dateCreation">
                  <div class="line">
                    <label class="mr-2">Date de création : </label>
                    <span> {{formatDate(demande?.dateCreation)}}</span>
                  </div>
                  <hr class="mt-lg-n2">
                </div>

                <div *ngIf="demande?.dateEnvoie">
                  <div class="line">
                    <label class="mr-2">Date d'envoi: </label>
                    <span> {{formatDate(demande?.dateEnvoie)}}</span>
                  </div>
                  <hr class="mt-lg-n2">
                </div>

                <div *ngIf="demande?.dateReception">
                  <div class="line">
                    <label class="mr-2">Date de reception: </label>
                    <span> {{formatDate(demande?.dateReception)}}</span>
                  </div>
                  <hr class="mt-lg-n2">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-title py-1" *ngIf="demandeAccompagnement">
        <h3>Informations de la demande d'accompagnement en cours</h3>
      </div>
      <div class="card" *ngIf="demande">
        <div class="card-body">
          <div class="card">
            <div class="card-body mb-6">
              <div class="mt-2">
                <div>
                  <div class="line">
                    <label class="mr-2">Statut Demande : </label>
                    <span> {{ demandeAccompagnement?.libelleStatut }}</span>
                  </div>
                  <hr class="mt-lg-n2">
                </div>
                
                <div *ngIf="demandeAccompagnement?.dateCreation">
                  <div class="line">
                    <label class="mr-2">Date de création : </label>
                    <span> {{formatDate(demandeAccompagnement?.dateCreation)}}</span>
                  </div>
                  <hr class="mt-lg-n2">
                </div>

                <div *ngIf="demandeAccompagnement?.dateEnvoie">
                  <div class="line">
                    <label class="mr-2">Date d'envoi: </label>
                    <span> {{formatDate(demandeAccompagnement?.dateEnvoie)}}</span>
                  </div>
                  <hr class="mt-lg-n2">
                </div>

                <div *ngIf="demandeAccompagnement?.dateReception">
                  <div class="line">
                    <label class="mr-2">Date de reception: </label>
                    <span> {{formatDate(demandeAccompagnement?.dateReception)}}</span>
                  </div>
                  <hr class="mt-lg-n2">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-title py-1">
        <h3 class="my-2">Informations de la PME</h3>
      </div>

      <div class="card">
        <div class="card-body">
          <div style="text-align: center">
            <img *ngIf="logo != null" class="rounded" [src]="logo" alt="logo" style="width: 100px">
            <h5 class="bloc-title">
              -- Information sur l'entreprise --
            </h5>
          </div>
          <hr>

          <div class="mt-2">

            <div class="line">
              <label class="mr-2">Raison sociale: </label>
              <span> {{entreprise?.raisonSociale}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Année de création: </label>
              <span> {{entreprise?.annee}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Forme Juridique: </label>
              <span> {{entreprise?.formeJur?.libelle}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Capital social: </label><span *ngIf="entreprise?.capital">
                <span> {{formatNumber(entreprise?.capital)}}</span></span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Secteurs d'activités: </label>
              <span>
                <span *ngFor="let secteur of secteur">
                  <span> {{secteur.libelle}}, </span>
                </span>
              </span>
            </div>
            <hr class="mt-lg-n1">

            <div class="line">
              <label class="mr-2">Régime d'imposition: </label>
              <span> {{entreprise?.regime}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Adresse: </label>
              <span> {{entreprise?.adresse}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Site web: </label>
              <span> {{entreprise?.siteWeb}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Description: </label>
              <span> {{entreprise?.description}}</span>
            </div>
            <hr class="mt-lg-n2">
          </div>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="bloc-title my-4">-- Information sur le dirigeant --</h5>
          <hr>

          <div class="mt-2">
            <div class="line">
              <label class="mr-2">Nom: </label>
              <span> {{dirigeant?.nom}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Prénom: </label>
              <span> {{dirigeant?.prenom}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Téléphone: </label>
              <span> {{dirigeant?.mobile}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Email: </label>
              <span> {{dirigeant?.email}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Niveau d'éducation: </label>
              <span> {{dirigeant?.niveau}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Adresse: </label>
              <span> {{dirigeant?.adresse}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Nationalité: </label>
              <span> {{dirigeant?.nationalite}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Type pièce: </label>
              <span> {{dirigeant?.typePiece}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Numéro CI: </label>
              <span> {{dirigeant?.numeroCI}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Sexe: </label>
              <span> {{dirigeant?.sexe}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Date de naissance: </label>
              <span> {{formatDate(dirigeant?.date)}}</span>
            </div>
            <hr class="mt-lg-n2">

            <div class="line">
              <label class="mr-2">Lieu de naissance: </label>
              <span> {{dirigeant?.lieu}}</span>
            </div>
            <hr class="mt-lg-n2">
          </div>
        </div>
      </div>

      <div *ngIf="displayRatio" class="card mt-4">
        <div class="card-body">
          <h5 class="bloc-title my-4">-- Score financier de l'entreprise --</h5>
          <hr>

          <div class="mt-2">
            <table class="table table-bordered table-striped">
              <caption style="font-size: 18px; font-weight: bolder; text-align: center">Score financier : {{roundValue(listRatio?.scoreDTO?.score_financier)}}</caption>
              <thead>
              <tr>
                <td style="width: 5%">Code</td>
                <td>Nom Ratio</td>
                <td>Valeur</td>
                <td style="width: 17%">Ratio calibré</td>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of listRatio?.listValeurRatioDTO">
                  <th style="width: 5%">{{r.codeRatio}}</th>
                  <td>{{r.nomRatio}}</td>
                  <td style="text-align: right">{{roundValue(r.valeur)}}</td>
                  <td style="width: 17%; text-align: right">{{r.classe}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="displayScoreQualitatif" class="card mt-4">
        <div class="card-body">
          <h5 class="bloc-title my-4">-- Score des Paramétres Qualitatifs de l'entreprise --</h5>
          <hr>

          <div class="mt-2">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th scope="col">Paramétre Qualitatif</th>
                <th scope="col">Score</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngIf="scoreFinal">
                  <td>Score Financier/Solvabilité</td>
                  <td>{{ scoreFinal?.score_financier }}</td>
                </tr>
              <tr *ngFor="let s of scores">
                  <td>{{s.parametre?.libelle}}</td>
                  <td>{{formatNumberNDecimal((s.score), 1) }}</td>
              </tr>
              </tbody>
              <tfoot *ngIf="scoreFinal?.score_final">
                <tr class="total">
                  <th>Score de la PME</th>
                  <th>{{ formatNumberNDecimal(scoreFinal?.score_final, 1) }} </th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="displayRadar" class="card mt-4">
        <div class="card-body">
          <h5 class="bloc-title my-4">-- Radar des scores de l'entreprise --</h5>
          <hr>

          <div class="mt-2">
            <app-radar [labels]="chartLibelles" [values]="chartValues" [chartType]="radarChartType"></app-radar>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="ratioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #006a25; color: #ebeef2">
        <h5 class="modal-title">Motif de rejet de la demande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Motif :</label>
            <textarea class="form-control" id="recipient-name" rows="5" [(ngModel)]="motifRejet" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn bgc-primary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn bgc-secondary" (click)="rejectDemande()" data-dismiss="modal">Rejetter</button>
      </div>
    </div>
  </div>
</div>

