<div class="mx-5 px-5 parent">
  <div class="card p-4 animate__animated animate__backInUp" style="border-radius: 10px">
    <div class="card-body">
      <div class="card-title py-1">
        <h3>Informations de la PME</h3>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="bloc-title">-- Information sur l'entreprise --</h5>
          <hr>

          <div class="mt-2">
            <label class="mr-2">Raison sociale: </label>{{entreprise?.raisonSociale}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Année de création: </label>{{entreprise?.annee}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Forme Juridique: </label>{{entreprise?.formeJur?.libelle}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Capital social: </label><span *ngIf="entreprise?.capital">{{formatNumber(entreprise?.capital)}}</span>
            <hr class="mt-lg-n2">

            <label class="mr-2">Secteurs d'activités: </label>
            <span *ngFor="let secteur of secteur">{{secteur.libelle}}, </span>
            <hr class="mt-lg-n1">

            <label class="mr-2">Régime d'imposition: </label>{{entreprise?.regime}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Adresse: </label>{{entreprise?.adresse}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Site web: </label>{{entreprise?.siteWeb}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Description: </label>{{entreprise?.description}}
            <hr class="mt-lg-n2">
          </div>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="bloc-title">-- Information sur le dirigeant --</h5>
          <hr>

          <div class="mt-2">
            <label class="mr-2">Nom: </label>{{dirigeant?.nom}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Prénom: </label>{{dirigeant?.prenom}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Téléphone: </label>{{dirigeant?.mobile}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Email: </label>{{dirigeant?.email}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Niveau d'éducation: </label>{{dirigeant?.niveau}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Adresse: </label>{{dirigeant?.adresse}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Nationalité: </label>{{dirigeant?.nationalite}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Type pièce: </label>{{dirigeant?.typePiece}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Numéro CI: </label>{{dirigeant?.numeroCI}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Sexe: </label>{{dirigeant?.sexe}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Date de naissance: </label>{{formatDate(dirigeant?.date)}}
            <hr class="mt-lg-n2">

            <label class="mr-2">Lieu de naissance: </label>{{dirigeant?.lieu}}
            <hr class="mt-lg-n2">
          </div>
        </div>
      </div>

      <div *ngIf="listRatio" class="card mt-4">
        <div class="card-body">
          <h5 class="bloc-title">-- Score financier de l'entreprise --</h5>
          <hr>

          <div class="mt-2">
            <table class="table table-bordered table-striped">
              <caption style="font-size: 18px; font-weight: bolder; text-align: center">Score financier : {{roundValue(listRatio?.scoreDTO?.score_financier)}}</caption>
              <thead>
              <tr>
                <td style="width: 5%">Code</td>
                <td>Nom Ratio</td>
                <td>Valeur</td>
                <td style="width: 17%">Ratio calibré</td>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of listRatio?.listValeurRatioDTO">
                  <th style="width: 5%">{{r.codeRatio}}</th>
                  <td>{{r.nomRatio}}</td>
                  <td style="text-align: right">{{roundValue(r.valeur)}}</td>
                  <td style="width: 17%; text-align: right">{{r.classe}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="scores" class="card mt-4">
        <div class="card-body">
          <h5 class="bloc-title">-- Score des Paramétres Qualitatifs de l'entreprise --</h5>
          <hr>

          <div class="mt-2">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th scope="col">Paramétre Qualitatif</th>
                <th scope="col">Score</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngIf="scoreFinal">
                  <td>Score Financier/Solvabilité</td>
                  <td>{{ scoreFinal?.score_financier }}</td>
                </tr>
              <tr *ngFor="let s of scores">
                  <td>{{s.parametre?.libelle}}</td>
                  <td>{{formatNumberNDecimal((s.score), 1) }}</td>
              </tr>
              </tbody>
              <tfoot *ngIf="scoreFinal?.score_final">
                <tr class="total">
                  <th>Score de la PME</th>
                  <th>{{ formatNumberNDecimal(scoreFinal?.score_final, 1) }} </th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="scores && scoreFinal" class="card mt-4">
        <div class="card-body">
          <h5 class="bloc-title">-- Radar des scores de l'entreprise --</h5>
          <hr>

          <div class="mt-2">
            <app-radar [labels]="chartLibelles" [values]="chartValues" [chartType]="radarChartType"></app-radar>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
