<div class="mx-5 px-5 parent">
  <div class="card animate__animated animate__backInUp" style="border-radius: 10px">
    <div class="card-body">
      <div class="row card-title" *ngIf="!entreprise?.repEli">
        <div class="col-md-11">
          <h5 class="font-weight-bold">Veuillez répondre au questionnaire d'éligibilité puis soumettre !</h5>
        </div>
        <div class="col-md-1">
          <button class="btn btn-sm submit-btn" (click)="submitQuestionnaire()" style="background-color: #f78300; color: #ffffff">Soumettre</button>
        </div>
      </div>

      <div class="row card-title" *ngIf="entreprise?.repEli">
        <div class="col-md-12">
          <h5 class="font-weight-bold">Mes réponses au questionnaire d'éligibilité</h5>
        </div>
      </div>

      <div class="my-4" *ngFor="let q of listQuestions; let index = index">
        <!--<h6 class="card-title text-uppercase">{{q.code}}- {{q.theme}}</h6>-->
        <div class="row">
          <div class="col-sm-8">
            <h6>{{q.libelle}}</h6>
          </div>
          <div class="col-sm-4">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="{{index+'1'}}" name="radio_{{index}}" [value]="true" [(ngModel)]="q.reponse" class="custom-control-input">
              <label class="custom-control-label" for="{{index+'1'}}">Oui</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="{{index+'2'}}" name="radio_{{index}}" [value]="false" [(ngModel)]="q.reponse" class="custom-control-input">
              <label class="custom-control-label" for="{{index+'2'}}">Non</label>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-success" role="alert">
        <div class="row">
          <div class="col-md-1"><h6>NB:</h6></div>
          <div class="col-md-11 ml-lg-n5">
            <p><em>un chiffre d'affaires moyen annuel inférieur à 30 millions (30.000.000)FCFA sur les exercices 2018 et 2019: Micro</em></p>
            <p><em>un chiffre d'affaires moyen annuel compris entre 30.000.001FCFA et 150.000.000 FCFA sur les exercices 2018 et 2019: Petite</em></p>
            <p><em>un chiffre d'affaires moyen annuel supérieur 150.000.000 FCFA sur les exercices 2018 et 2019: Moyenne</em></p>
          </div>
        </div>
        <hr>
        <p class="mb-0 small">- Micro: nb employés < 10  - Petite entreprise: nb employés < 50 employés et CA < 150 millions  - Moyenne entreprise: nb employés < 1 milliard</p>
      </div>
    </div>
  </div>
</div>
